<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="H1">
Profile
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="H4">Hi {{login}}</h4>

<div style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
  <p>Your musical instruments:</p>
  <div *ngFor="let m of mi">
    <p>{{m}}</p>
  </div>
  
  <button (click)="ng()" type="button" name="sen1" class="button">Change</button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
    <p>Your music service:</p>
  </div>
	
  <ul >
  <li>
    <input (click)="mms('apple')" type="radio" id="apple" name="selector">
    <label for="apple">Apple Music</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
  
  <li>
    <input (click)="mms('spotify')" type="radio" id="spotify" name="selector">
    <label for="spotify">Spotify</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
  
  <li>
    <input (click)="mms('vk')" type="radio" id="vk" name="selector">
    <label for="vk">VK</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>

  <li>
    <input (click)="mms('yandex')" type="radio" id="yandex" name="selector">
    <label for="yandex">Yandex.music</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>
</ul>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
  <div style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
    <p>Your songs:</p>
  </div>
    <div  cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let movie of movies" cdkDrag>
          <a (click)="link(movie)" class="l">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{movie}}
          </a>
          <a (click)="close(movie)" class="f"></a>
        </div>
        
    </div>
</center>

<form style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
    Song name:
    <input type="text" [(ngModel)]="sname" (ngModelChange)="saverange()" name="sname" placeholder="For exemple: Numb" autocomplete="off" class="input" [(ngModel)]="filterTerm">
    <button (click)="g()" type="button" name="sen1" class="button">Add</button>
</form>
<div style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
  <div *ngIf="bbb">
    <ul *ngFor="let user of userRecords | filter:filterTerm">
      <a (click)="gk(user.name)">{{user.name}}</a>
    </ul>
    <a (click)="jk()">+ add new song</a>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h4 class="H4">Top 5</h4>

<div  style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
    <ul class="block" *ngFor="let user of myArray1">
      <div >
        <span class="icon">{{user.name}}</span>
        <ngx-qrcode (click)="link(user.name)" class="text" [value] = "user.url"></ngx-qrcode>
      </div>
    </ul>
</div>

<br>
<br>
<br>
<br>
<center>
  <button (click)="exit()" type="button" class="button" style="font-size: 22px;">Exit</button>
</center>

<br>
<br>
<br>
<br>
