<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="H1">
Profile
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="H4">Hi {{login}}</h4>
<center>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let movie of movies" cdkDrag>
          <a href="#" class="l">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{movie}}
            
          </a>
          <a onclick="close()" class="f"></a>
        </div>
        
      </div>
</center>

<form style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
    Song name:
    <input type="text" [(ngModel)]="sname" name="sname" placeholder="For exemple: Numb" autocomplete="off" class="input" [(ngModel)]="filterTerm">
    <button (click)="g()" type="button" name="sen1" class="button">Add</button>
</form>
<div style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
  <ul *ngFor="let user of userRecords | filter:filterTerm">
    <a (click)="gk(user.name)">{{user.name}}</a>
  </ul>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;">
    Friend name:
    <input type="text" [(ngModel)]="fname" name="fname" placeholder="friend's name" autocomplete="off" class="input">
    <button (click)="gf()" type="button" name="sen1" class="button">search</button>
</form>

<br>
<br>
<br>
<br>

<p class="defolt" *ngFor="let h1 of arr1">{{h1}}<br></p>

<br>
<br>
<br>
<br>
<button (click)="exit()" type="button" class="button">Exit</button>
<br>
<br>
<br>
<br>
