
        <h4 class="H4">
            Sign In
        </h4>
        <form style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;" id="mainForm1">
            User name:
            <input type="text" [(ngModel)]="login" id="login" placeholder="Your login" name="login" class="input" autocomplete="off">
            <br>
            Password:
            <input type="password" [(ngModel)]="password" id="password" placeholder="Your password" name="password" required class="input">
            <br>
            <br>
            <button (click)="check()" type="button" name="sen1" class="button">Sign In</button>
            <br>
            <a href="\signup" style="color: #777;text-decoration: none; font-size: 100%">Don't have an account?</a>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>