<body style="background-color: black;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="H1">
  PlayList
  <br>
  <br>
  <br>
  </h1>
  <p class="defolt">
  <br>
  So you are on PlayList! <br> Here you can find your favourite music and share it with you friends.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </p>
  <br>
  <br>
  <p>
  <img src="assets\93025.jpg" alt="" width="100%" height="width">
  <br>
  </p>
  <p class="defolt">
  <br>
  <br>
  <br>
  <br>
  <br>
  Sign up for free to find your friends and enjoy the music!
  <br>
  <br>
  </p>
  <p style=" text-align: center; ">
  <a  routerLink="/signin"style="color: #d94f5c;  font-size: 200px; text-decoration: none; font-family: Geneva, Arial, Helvetica, sans-serif;">Sign Up</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </p>
  <p>
  <img src="assets\aaa.jpg" alt="" width="100%" height="width/100*120">
  <br>
  </p>
  <p class="defolt">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </p>
</body>
