
<h4 class="H4">
Your musical instruments:
</h4>
<center>
    <form name="Form">
        <label class="container" style="color: #777;"><img src="assets/images/Ukelele1.png" style="height: 40px; width: 55px;">Ukelele
            <input id="1" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;">🪕Bangos
            <input id="2" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;"><img src="assets/images/Harmonica1.png" style="height: 40px; width: 40px;">Harmonica
            <input id="3" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;">🎸Bass Guitar
            <input id="4" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;">🥁Drums
            <input id="5" type="checkbox">
            <span class="checkmark"></span>
          </label>
        <br>
        <label class="container" style="color: #777;">🎹Piano
            <input id="6" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;"><img src="assets/images/Xylophone.png" style="height: 40px; width: 40px;">Xylophone
            <input id="7" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;"><img src="assets/images/kalimba.png" style="height: 40px; width: 40px;">Kalimba
            <input id="8" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;"><img src="assets/images/clarinet.png" style="height: 40px; width: 40px;">Clarinet
            <input id="9" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;">🎺Trombone
            <input id="10" type="checkbox">
            <span class="checkmark"></span>
          </label>
        <br>
        <label class="container" style="color: #777;"><img src="assets/images/Guitar.png" style="height: 40px; width: 40px;">Guitar
            <input id="11" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;">🎷Saxophone
            <input id="12" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;"><img src="assets/images/Steel Tongue Drum.png" style="height: 34px; width: 40px;">Steel Tongue Drum
            <input id="13" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;"><img src="assets/images/Flute.png" style="height: 40px; width: 40px;">Flute
            <input id="14" type="checkbox">
            <span class="checkmark"></span>
          </label>

          <label class="container" style="color: #777;"><img src="assets/images/Theremin.png" style="height: 34px; width: 40px;">Theremin
            <input id="15" type="checkbox">
            <span class="checkmark"></span>
          </label>
        <br>
        <label class="container" style="color: #777;"><img src="assets/images/Harp.png" style="height: 34px; width: 40px;">Harp
            <input id="16" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;"><img src="assets/images/Cello.png" style="height: 50px; width: 30px;">Cello
            <input id="17" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container" style="color: #777;">🎻Violin
            <input id="18" type="checkbox">
            <span class="checkmark"></span>
          </label>
        <br>
        <br>
        <br>
        <label class="container" style="color: #777;"><img src="assets/images/magix music maker.png" style="height: 40px; width: 40px;">Magix Music Maker
          <input id="19" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="color: #777;"><img src="assets/images/FLStudio20.png" style="height: 40px; width: 43px;">Image-Line FL Studio 20
          <input id="20" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container" style="color: #777;"><img src="assets/images/Native.jpg" style="height: 40px; width: 40px;">Native Instruments Maschine 2 MK3
          <input id="21" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="color: #777;"><img src="assets/images/Propellerheads.png" style="height: 40px; width: 40px;">Propellerheads Reason+
          <input id="22" type="checkbox">
          <span class="checkmark"></span>
        </label>
      </form>
      <br>
      <br>
      <br>
      <br>
      <button class="button" (click)="k()" >Save</button>
</center>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>