
        <h4 class="H4">
            Sign Up
        </h4>
        <form style="color: #777; text-align: center; font-size: 200%; font-family: Geneva, Arial, Helvetica, sans-serif;" id="mainForm">
            User name:
            <input type="text" [(ngModel)]="login" placeholder="Your login" name="login" class="input" autocomplete="off">
            <br>
            User email:
            <input type="text" [(ngModel)]="email" placeholder="Your email" name="email" class="input" autocomplete="off">
            <br>
            Password:
            <input type="password" [(ngModel)]="password" placeholder="Your password" name="password" required class="input">
            <br>
            <br>
            <button class="button" (click)="go()">Sign Up</button>
            <br>
            <a href="\signin" style="color: #777;text-decoration: none; font-size: 100%">Have an account?</a>               
        </form>
        <script src="form.js"></script>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>